---
export interface Props {
  color?: string
}

const { color = 'black' } = Astro.props
---

<style define:vars={{ color }}>
  button {
    color: var(--color);
    background: pink;
    border: 1px solid black;
    padding: 0.75rem 1.5rem;
    appearance: none;
  }
</style>

<button><slot /> x</button>
